<style>
  body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
  .dropdown-toggle {
     position:relative;
  }
  .dropdown-menu {
  position:absolute;
  }
  .dropdown-menu {
  border: none;
  }

</style>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to "GEKKAN MY GAZINE", root_path, class: 'navbar-brand'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <% if @zine != nil %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=@zine.year %>年<%=@zine.month %>月号
          </a>
          <div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item  bg-dark text-light" href="/zines">
              公開マガジン一覧
            </a>
            <div class="dropdown-divider"></div>
            <% @zines.each do |zine| %>
              <button class="dropdown-item bg-dark text-light" href="#">
                <%= link_to "#{zine.year}年#{zine.month}月号", zine_path(zine.id), class: 'text-light'%>
              </button>
            <% end %>
          </div>
        </li>
      <% end %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag current_user.image, class: 'header-avatar rounded-circle', width: '30', height: '30' %>
        </a>
        <div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdownMenuLink">
          <h6 class="dropdown-header"><%= current_user.nickname %></h6>
          <button class="dropdown-item">
          <%= link_to "編集", edit_user_registration_path %>
          </button>
          <button class="dropdown-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
          </button>
        </div>
 
      </li>





    </ul>
      <div class="form-inline mt-2 mt-md-0">
        <%= form_with url: "/posts", method: :post, local: true do |f| %>
          <%= f.url_field :url, class: 'form-control mr-sm-2', placeholder: 'URL' %>
          <%= f.submit '保存', class: 'btn btn-outline-success my-0 my-sm-0' %>
        <% end %>
      </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../assets/dist/js/bootstrap.bundle.js"></script>